.gradle/
.idea/
Android.iml
AppDemo/AppDemo.iml
build/
gradle/
local.properties
gradle.properties
sh_maven_push.gradle
shfirebasesample/
pointzidev/
pointziprod/
pushping/
shonboardingtest/
streethawkauthor/
dev/
streethawkpointzi/
