.gradle/
.idea/
Android.iml
AppDemo/AppDemo.iml
build/
gradle/
local.properties
gradle.properties
sh_maven_push.gradle
pushping/build/
streethawkauthor/
streethawkapp/build/
streethawkbeacon/build/
streethawkcore/build/
streethawkdebug/build/
streethawkfeeds/build/
streethawkgeofence/build/
streethawkgrowth/build/
streethawklocations/build/
streethawkpointzi/build/
streethawkpush/build/




