<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.streethawk.streethawkapp">

    <permission
        android:name="com.streethawk.streethawkapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.streethawk.streethawkapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="activity">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="activity"
                    android:scheme="streethawkapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FlashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AnalyticsActivity"
            android:label="@string/title_activity_analytics"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />
        </activity>

        <receiver
            android:name="com.streethawk.library.push.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Add  package_name here -->
                <category android:name="com.streethawk.streethawkapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.StartBGLActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.SetupActivity" />
        <activity
            android:name=".activity.GrowthActivity"
            android:label="@string/title_activity_growth"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PushActivity"
            android:label="@string/title_activity_push"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />

            <intent-filter android:label="activity">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="coupon"
                    android:scheme="shopadocket" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />

            <intent-filter android:label="activity">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="setparams"
                    android:scheme="shsample" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.FeedBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.streethawk.intent.action.newfeed" />
            </intent-filter>
        </receiver>
        <!--
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        -->
        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.FeedViewerActivity"
            android:label="@string/title_activity_feed_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FeedListActivity"
            android:label="@string/title_activity_feed_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="FeedList">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="feedlist"
                    android:scheme="streethawkapp" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SHFabService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.WebViewPOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_view_poc"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.LogreportActivity"
            android:label="@string/title_activity_logreport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestPointziActivity"
            android:label="@string/title_activity_test_pointzi"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.streethawk.streethawkapp.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PointziActivity"
            android:label="@string/title_activity_pointzi"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>